/* Styles appliquées au canevas */
.canvas-container {
    display: flex;
    /*border: 2px solid red; pour debbuger*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#canvas {
    background-color: #30c0df;
    border: 2px solid black;
}